* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: white;
	color: #333;
	font-family: Arial, sans;
}
main {
	display: flex;
	height: 100%;
}
/* reveal.js preview */
iframe {
	border: none;
	flex-basis: 75%;
}
/* form and outputs */
aside {
	background: #eee;
	flex-basis: 25%;
	font-size: 12px;
	padding: 1vw;
}
label {
	display: inline-block;
	min-width: 50%;;
}
output {
	background: #ddd;
	display: block;
	height: 200px;
	overflow: scroll;
}
